body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.navbar {
    background-color: #333; 
}

.navbar a {
    color: white; 
}

.navbar a:hover {
    color: #FFD700; 
}
main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

ul, dl {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

dl dt {
    font-weight: bold;
}

dl dd {
    margin-bottom: 10px;
    margin-left: 0;
}

.product-description {
    padding: 20px;
    margin-bottom: 30px;
}

.price {
    font-size: 1.5em;
    color: #28a745;
}

img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}


.star {
    font-size: 30px;
    cursor: pointer;
    color: gray;
}

body.night-theme {
    background-color: #333;
    color: #fff;
}

body.night-theme .menu-item {
    background-color: #555;
}
